:root {
    --main-bg: #0f111a;
    --accent: #ff4da6;
    --text: #ffffff;
    --card-bg: rgba(255, 255, 255, 0.08);
    --blur: blur(10px);
    --radius: 20px;
    --font-main: 'Poppins', sans-serif;
}

body {
    background: var(--main-bg);
    color: var(--text);
    font-family: var(--font-main);
    margin: 0;
}
